{% extends 'partials/base.html' %}

{% block content %}
    {% include "partials/navbar.html" %}
    <div class="container">
        <h1>Add Film</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ formset.management_form }}
            {% csrf_token %}
            {{ form.as_p }}
            {% for form in formset %}
                <p>Producer:</p>
                {{ form.as_p }}
                <br>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock content %}