* {
  box-sizing: border-box;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#transactions {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

#transactions > * {
  border: 1px solid black;
}
